Repository openfoodfacts/openfoodfacts-ai, pull requests merged in 2024-11, with the labels that each got.

#350 feat: add CLI command to pre-annotate object detection tasks with Yolo-world
  ml_utils/ml_utils_cli/cli/annotate.py
  ml_utils/ml_utils_cli/cli/apps/datasets.py
  ml_utils/ml_utils_cli/cli/export.py
  ml_utils/ml_utils_cli/config_files/product-detection.xml
  object_detection/crop_detection/Makefile
  object_detection/crop_detection/README.md
  object_detection/crop_detection/assets/cropped.jpg
  object_detection/crop_detection/assets/product.jpg
  object_detection/crop_detection/best_images/.gitkeep
  object_detection/crop_detection/cli/__main__.py
  object_detection/crop_detection/cli/inference_yolo_tflite.py
  object_detection/crop_detection/commands/load_images_from_aws.sh
  object_detection/crop_detection/data/.gitkeep
  object_detection/crop_detection/images/.gitkeep
  object_detection/crop_detection/models/.gitkeep
  object_detection/crop_detection/requirements.txt
Labels: 🖼️ images, cropping, object detection

#356 Feat improve read me
  ml_utils/ml_utils_cli/README.md
Labels: documentation

#360 feat : Add pretrained Yolo model compatibility and handle image url error
  ml_utils/ml_utils_cli/cli/apps/projects.py
Labels: ✨ enhancement
